h1{
    color: white;
    text-decoration: wavy white underline;
}
p{
    color: gray;
    line-height: 3em;
    word-spacing: 5px;
    letter-spacing: 2px;
    
}
button{
    background-color: blue;
    color: white;
}
body{
    background-color: black;
    color: white;
}
*{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}