<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>New Chat Add</h3>
    <form action="/users" method="POST">
        <input type="text" name="from" placeholder="Enter the sender's name">
        <input type="text" name="msg" placeholder="Enter the message">
        <input type="text" name="to" placeholder="Enter the REceiver's name">
        <button>📩</button>
    </form>
</body>
</html>