<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1> this is the home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis quam harum accusamus id labore consequatur sed quibusdam perspiciatis itaque quod ipsam voluptas provident recusandae necessitatibus nulla suscipit adipisci tempora, dolor commodi sapiente voluptatum nam quo cum! Quam, sunt modi! Vitae minima alias perspiciatis in placeat officiis perferendis id iste repellendus enim, molestiae eum excepturi voluptates ex nobis necessitatibus ut modi laboriosam, temporibus fugit asperiores, aliquid molestias! Eveniet, fuga ad, dolore suscipit illum assumenda excepturi repudiandae, reiciendis recusandae ratione culpa aperiam! Error temporibus, minus provident laboriosam perferendis eos, ducimus laborum ipsam, totam eaque similique mollitia illo recusandae! Hic ipsam deserunt qui.
    </p>
</body>
</html>