.loader{
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite;
    /* justify-content: center; */
   display: inline-block;
}
@keyframes spin {
  0% {
    /* Set rotation to 0 degrees */
  }
  50% {
   scale: 1; /* Set rotation to 360 degrees */
  }
  100%{
    transform: rotate(360deg);
  }
}