h1{
    background-color: yellow;
    border: 2px solid blacks;
}
@media (width: 400px) {
    h1{
        background-color: red;
    }
}
@media (min-width: 700px) {
    h1{
        background-color: greenyellow;
    }
}
@media (max-width:200px) {
    h1{
        background-color: pink;
    }
}