.div1{
    height: 150px;
    width: 50%;
    border: 2px solid black;
    margin-bottom: 3px;
    display: flex;
    background-color: black;
    color: white;
    
}
H1{
    height: 40px;
    width: 320px;
    border: 5px dashed green;
}
div {
    height: 200px;
    background-color: black;
    color: white;
    width: 500px;
    border: 2px solid black;
    margin-bottom: 25px;
    display: flex;
   border-radius: 10px;
    padding: 20px 20px;
}
button{
  padding: 10px 5px;
  border: 2px solid white;
  border-radius: 15px;
  margin-left: 5cm;
}
