section{
    margin-top: 100px;
     box-shadow: 2px 2px 10px green;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    background-color: lightgreen;
    margin: 10px;
}
div:nth-of-type(2n){
    background-color: lightyellow;
}
div:nth-of-type(3n){
    background-color: orange;
}
.one{
    transform: rotate(45deg);
}
.two{
    transform: translate(20px,20px);
    box-shadow: 5px 5px 10px green;
}
section{
   
}