.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate; */
    animation: fontAnimation 3s ease-in 0s infinite alternate;
}
@keyframes fontAnimation {
from{
    font-size: 20px;
    background-color: green;
    color: black;
}
to{
    font-size: 40px;
    background-color: blue;
    color: white;
}
    
}
@keyframes colorAnimate {
    from{
        background-color: green;
    }
    to{
        background-color: blue;
    }
}