.container{
    width: 600px;
    height: 300px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns:repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
    
}
.item{
    /* width: 100px;
    height: 50px; */
    background-color: limegreen;
    border: 2px solid black;
    text-align: center;
    
}
 
.one{
grid-column: 1/4;
}