
.face
{
    height: 400px;
    background-color: orange;
    width: 400px;
    border: 2px solid black;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 50%;
    display: inline-block;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 260px;
    left: 115px;
}
.eyes{
    /* display: inline-block; */
}
.lefteye,.righteye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}
.righteye{
    left: 280px;
}