.container{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.inner-conatiner{
   
    border: 2px solid black;
}
.red-circle{
    border-radius: 100%;
     height: 50px;
    width: 50px;
    margin: 10px;
    background-color: red;
    color: red;
    border: 2px solid black;
}
.yellow-circle{
      border-radius: 100%;
     height: 50px;
    width: 50px;
    margin: 10px;
    background-color: yellow;
    color: yellow;
    border: 2px solid black;
}
.green-circle{
      border-radius: 100%;
     height: 50px;
    width: 50px;
    margin: 10px;
    color: green;
    background-color: green;
    border: 2px solid black;
}