
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  background-color: black;
  color: white;
}
/* .main-content{
    overflow: scroll;
} */
.main{
    display: flex;
    height: 100vh;
}
.nav-option a{
    text-decoration: none;
    color: white;
}
.side-bar{
    background-color: black;
    /* background-color: red; */
    width: 300px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
     border-radius: 1rem;
     overflow: auto;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity:1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.75rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
}
.lib-option a{
    text-decoration: none;
    color: white;
}
.options{
    display: flex;
    justify-content: space-between;
}
.lib-option img{
    width: 15px;
    height: 15px;
}
.icons i{
    padding-right: 1rem;
    padding-top: 1.3rem;
    cursor: pointer;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}
.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3px;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.75;
    margin-top: 20px;
}
.badge{
    background-color:white; 
    border: none;
    border-radius: 100px;
    padding: 4px 16px;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    margin-top: 18px;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
/* .badge-install{
    background-color: black;
    border: none;
    color: white;
    opacity: 0.7;
    border-radius: 50px;
    padding: 4px 16px;
    height: 2rem;
    font-weight: 500;
    font-size: 1rem;
    
} */
